$white: #eee;
$black: #333;

body, html, .content {
    font-family: Roboto;
    font-weight: 400;
    background-color: black;
    color: #eee;
    display: flex;
    flex-direction: column;
    height: 100%;
    -webkit-font-smoothing: antialiased;
}

.content {
  padding: 0px;
  align-items: stretch;
  flex: 1 100%;
  background: linear-gradient(to top, #24ccaa, #a2db95);
}

#map {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: 1 100%;
  background-color: transparent;
}

.toolbar {
    background-color: $white;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.7);
    border-radius: 4px;
    bottom: 15px;
    right: 15px;
    position: absolute;
    display: flex;
    flex-direction: row;
    z-index: 1000;
    overflow: hidden;

    div {
        border-right: 1px solid #ccc;

        &:first-child {
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }
        &:last-child {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
        }
        &::hover {
            background-color: #f4f4f4;
        }
    }

    a {
       padding: 7px 12px 5px;
      display: inline-block;
    }
}

.loading {
  background-color: rgba(255,255,255,0.2);
  color: $white;
  max-width: 350px;
  height: 50px;
  line-height: 50px;
  padding: 40px;
  text-align: center;
  border-radius: 10px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.message {
    background-color: rgba(255,255,255,0.9);
    color: #436a6b;
    max-width: 350px;
    height: 50px;
    line-height: 50px;
    padding: 40px;
    text-align: center;
    border-radius: 10px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2000;

    .data {
        line-height: 100%;
    }
}

.inventory {
    background-color: rgba(255,255,255,0.95);
    color: #436a6b;
    width: 60%;
    min-width: 500px;
    height: 63%;
    min-height: 400px;
    position: absolute;
    padding: .5em 0px .5em .5em;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.7);
    border-radius: 10px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: top 500ms, opacity 500ms;

    &.active {
        top: 50%;
        opacity: 1;
        transition: top 500ms, opacity 500ms;
    }

    .data {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        overflow: auto;
        box-sizing: border-box;

        &::-webkit-scrollbar-track {
           border-radius: 20px;
            background-color: #F5F5F5;
        }
        &::-webkit-scrollbar {
            width: 18px;
            background-color: #F5F5F5;
        }
        &::-webkit-scrollbar-thumb {
           border-radius: 20px;
            background-color: #436a6b;
        }
    }

    .info {
        font-size: 80%;
    }

    .info ~ .info {
        font-size: 70%;
    }

    .numberinfo {
        padding: .6em 2em;
        margin: .6em auto;
        max-width: 100px;
        display: block;
        border: 1px solid #436a6b;
        border-radius: 5px;
    }
}

.eggs, .items {
    width: 120px;
    max-height: 100px;
    padding: .65em;
    margin: .65em;
    display: flex;
    flex-direction: column;
    align-content: center;

    img {
        max-width: 65px;
        max-height: 80px;
        margin: auto;
    }

    .imgspan {
        flex-grow: 1;
        display: flex;
    }
}

.pokemonsort {
    a {
        text-decoration: none;
        color: #436a6b;
        display: inline-block;
        padding: .3em .5em;
        border-radius: .2em;

        &:hover, &:active, &.active {
            background-color: #436a6b;
            color: $white;
        }

        &:hover {
            opacity: 0.7;
        }
    }
}

.pokemon {
    width: 30%;
    padding: .5em;
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: center;
    
    .imgspan {
        flex-grow: 1;
        display: flex;
        position: relative;
    }

    img {
        max-width: 75px;
        max-height: 75px;
        margin: auto;
    }

    .name {
        font-weight: bold;
    }

    span:last-child {
        letter-spacing: 0.05em;
    }

    &:hover img, &:hover .imgspan.canEvolve:after {
        opacity: 0.3;
    }

    .imgspan.canEvolve:after {
        content: '';
        background: url('../img/evolve.gif') 50% 50% no-repeat;
        background-size: 55%;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .transfer {
        display:none;
    }

    &:hover .transfer {
        display: flex;
        flex-direction: row;
        position: absolute;
        margin: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 3000;

        img {
            opacity: 1;
        }
    }
}

.player {
    color: $black;
    background-color: $white;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.7);
    border-radius: 4px;
    bottom: 15px;
    left: 15px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: flex-end;
    z-index: 1000;
    overflow: hidden;
    width: 10%;
    padding: 10px;

    div { margin-top: 5px }

    .level { font-weight: bold; }
    .playername { font-size: 0.8em }

    .progress {
        height: 10px;  /* Can be anything */
        position: relative;
        background: $black;
        border-radius: 25px;
        padding: 7px;
        box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);

        & > span {
            display: block;
            height: 100%;
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            background-color: #2F96B4;
            box-shadow: 
                inset 0 2px 9px  rgba(255,255,255,0.3),
                inset 0 -2px 6px rgba(0,0,0,0.4);
            position: relative;
            overflow: hidden;
        }
    }
}   

.refresh {
    position: absolute;
    right: 50px;
}

.close {
  position: absolute;
  right: 10px;
}